.switch{
    border: solid 1px grey;
    border-radius: 999px;
    display: inline-flex;
    justify-content: flex-start;
    cursor: pointer;
    width: 72px;
    background-color: #ddd;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.circle{
    border-radius: 50%;
    border: solid 1px grey;
    width: 36px;
    height: 36px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    box-sizing: border-box;
    transition: transform 0.4s ease;
}
.circle-active{
    transform: translateX(100%);
}
.switch-active{
    background-color: rgb(48, 209, 88);
}
.navbar .switch{
    display: none;
    bottom: inherit;
}
@media only screen and (min-width: 700px){
    .navbar .switch{
        display: inherit;
    }
}

.dark-body{
    background-image: url(./library/wheat.png);
}
.dark-navbar{
    background-image: url(./library/wheat.png);
}
.dark-navbar *{
    color: white;
}
.dark-main{
    color: white;
}