@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Slab:wght@300&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    padding: 0; margin: 0;
}
body{
    background-image: url(./library/sakura.png);
}
html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar{
    background: rgb(187, 187, 187);
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(88, 88, 88); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(145, 145, 145); 
}

/* NAV SECTION  */

nav{
    transition: 300ms;
    background: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav *{
    color: black;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5em;
}
.menu-button{
    line-height: 1;
    cursor: pointer;
}
.website-name{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 300px;
    display: none;
}
.dropdown{
    display: none;
}
.dropdown-drop{
    display: block;
}
.dropdown ul{
    list-style: none;
    padding: .5em 1em;
}
.dropdown li{
    margin-bottom: 1em;
    width: max-content;
}
nav li{
    padding: 0 1em;
    border-radius: 5px;
    transition: 300ms;
    font-size: 1.3rem;
}
li a{
    text-decoration: none;
}
nav li:hover{
    background: rgb(221, 0, 70);
}

@media only screen and (min-width: 700px){
    .menu-button{
        display: none;
    }
    .navbar ul{
        display: inherit;
    }
    .dropdown{
        display: none;
    }
}

/* MAIN SECTION */

main{
    font-size: 1.3rem;
    padding: 5vw;
    padding-top: 5em;
    color: black;
    max-width: 1000px;
    margin-inline: auto;
    transition: 300ms;
}
main p{
    text-align: justify;
}
main ul{
    margin-top: 2em;
    margin-left: 2em;
}
.slideshow{
    position: relative;
    margin-bottom: 100px;
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.036),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.054),
    100px 100px 80px rgba(0, 0, 0, 0.09);
}
.slideshow .image{
    width: 100%;
    display: none;
}
.slider-button{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.slider-button img{
    width: 2em;
    filter: invert();
}
.prev{
    background: transparent;
    left: 0;
    justify-content: flex-start;
}
.next{
    justify-content: flex-end;
    right: 0;
}
#offer{
    height: 150px;
    display: flex;
    align-items: flex-end;
}
.cake{
    margin-top: 100px;
    width: 100%;
}


footer{
    font-size: 1.3rem;
    background: rgb(0, 0, 0);
    color: rgb(230, 230, 230);
}
.inner-footer{
    max-width: 1000px;
    margin-inline: auto;
    padding: 5vw;
    padding-top: 0;
    padding-bottom: 100px;
}
.inner-footer h1{
    display: flex;
    align-items: flex-end;
    height: 120px;
}

@keyframes underlines {
    50% {
        width: 100%;
    }
    100% {
        left: inherit;
        right: 0;
        width: 0;
    }
}
.contact-row a{
    text-decoration: none;
    color: rgb(230, 230, 230);
    position: relative;
}
.contact-row a::after{
    content: '';
    height: 2px;
    background: white;
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
}
.contact-row a::before{
    content: '';
    height: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    transition-duration: 350ms;
    transition-delay: 350ms;
}
.contact-row a:hover::before{
    width: 100%;
}
.contact-row a:hover::after{
    animation: underlines 350ms linear 0s 1 normal;
}
.big-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}
.contact-row{
    width: 13em;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 1em;
}
.contact-row img{
    width: 30px;
    filter: invert();
}